<?xml version="1.0" encoding="UTF-8"?>
<suite name="Locators">
    <test name="Test Google locators">
        <classes>
          <!--  <class name="GoogleExample" />-->
            <class name="CssLocators" />
         <!--   <class name="XPathLocators" />-->
        </classes>
    </test>
</suite>